// Banner

.bannerDiv {
  background-color: $color-black;
  color: $color-white;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 10%;

  @include media(tablet, desktop, wide) {
    height: 58px;
  }

  p {
    width: 248px;
    text-align: center;
  }
}