// Category section - women's, men's and accessories

.categorySection {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  .categoryDiv {
    background-color: $color-white;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 9px;

    .categoryItem {
      width: 163px;
      height: 213px;
      max-height: 569px;
      max-width: 435px;
      margin: 0 auto;
      position: relative;

      @include wide {
        width: 435px;
        height: 569px;
      }

      @include desktop {
        min-width: 310px;
        width: 12.65vw;
        height: auto;
      }

      @include tablet {
        width: 9.5vw;
        height: auto;
        min-width: 232px;
        max-height: 569px;
      }

      @include mobile {
        min-width: 163px;
        width: 4.6vw;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }

      h2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 0;
        right: 0;
        height: 42px;
        background-color: $color-green;
        color: white;
        font-family: $font-cursive;
        font-weight: 400;
        font-size: 20px;
        text-align: center;

        @include media(tablet, desktop, wide) {
          height: 68px;
          font-size: 30px;
        }

        @include wide {
          height: 114px;
          font-size: 40px;
        }
      }

      &.lastItem {
        grid-column: 1 / 3;
        width: 100%;
        min-height: 213px;
        max-height: 352px;
        overflow: hidden;

        @include media(tablet, desktop, wide) {
          grid-column: initial;
          width: 100%;
          height: 100%;
          max-height: 569px;
          max-width: 435px;
        }
      }

      @include mobile {
        width: calc(50vw - 1em);
        min-width: 163px;
      }
    }

    @include wide {
      grid-template-columns: repeat(3, 1fr);
      padding: 50px 98px;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      padding: 50px 48px;
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 10px;
      margin: 0;
    }
  }
}
