// Image over the 'Our Favorite Tees' section

.favoriteDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    // height: 53vw;
    min-height: 227px;
    max-height: 423px;;
    min-width: 375px;
    object-fit: cover;

    @include wide {
      height: 177vw;
      max-height: 638px;
    }    

    @include desktop {
      height: 120vh;
    }
  }

  @include media(desktop, wide) {
    position: relative;
  }
}
