// Sign up section
.signUpDiv {
  position: relative;
  background: lighten($color-main, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $color-main-text;
  padding: 3em 0;
  font-family: $font-main;

  .signUpText {
    text-align: center;

    .signUpHeadline {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3em;
      margin-bottom: 11px;

      .faIcon {
        font-size: 2.5em;
        margin-right: .1em;

        // @include media(desktop, wide) {
          
        // }
      }

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;

        @include media(desktop, wide) {
          font-size: 40px;
        }
      }
    }
  } 
  
  .signUpLowerDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    // padding: 0 48px;

    @include media(desktop, wide) {
      width: 70%;
      flex-direction: row;
      justify-content: center;
    }

    p {
      margin: 0 2em 4em 0;
      width: 100%;
      // width: 322px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;

      @include wide {
        font-size: 22px;        
        width: 100%;   
        // min-width: 
        text-align: initial;
        margin: 0 1em;
      }

      @include desktop {
        font-size: 18px;        
        // width: 50%;   
        text-align: initial;
        margin: 0 1.5em 0 0;
      }

      @include media(narrow, mobile, tablet) {
        margin: 0 0 2em 0;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 30em;
      height: 48px;
      text-align: center;
      background-color: $color-main-text;
      color: $color-white;
      cursor: pointer;
      font-family: $font-main;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      border: none;
    
      @include media(desktop, wide) {
        font-size: 14px;
        height: 54px;
        min-width: 140px;
      }
    }       
  }      

  @include media(desktop, wide) {
      height: 332px;
      padding-top: 75px;
      padding-bottom: 102px;
  }
}
