// Icons div on the Natigation - search, user, cart

.iconDiv {
  display: flex;
  position: absolute;
  right: 1.2em;
  align-items: center;
  justify-content: space-between;
  width: 8em;
  color: $color-main-text;
  font-size: 0.7em;

  @include media(narrow, tablet, desktop, wide) {
    position: static;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
