// Logo div

.logoDiv {
  display: flex;
  padding: 0; 
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 4px;


  @include media(tablet, desktop, wide) {
    position: static;
    margin-top: 34px;
    margin-bottom: 27px;
  }

  img {
    width: 55.44px;
    height: 46px;

    @include media(desktop, wide) {
      width: 93px;
      height: 77px;
    }

  }
}
