// Product carousel

.carouselItemDiv { 
  color: $color-main-text;

  img {
    width: 160px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 0;

    @include wide {    
      width: 300px;
      height: 420px;
    }    
  }

  .carouselItemTitle {
    text-align: center;
    font-weight: 600;

    .carouselItemName {
      margin: 18px auto 0 auto;
      font-size: 1em;
      font-weight: 400;
  
      @include wide {    
        font-size: 1.5em;     
        line-height: 26px;   
      }
    }

    .carouselItemCat {
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-size: .8em;

      @include wide {    
        font-size: 16px; 
        line-height: 19px;     
        font-weight: 300;
      }
    }

    .carouselItemPrice {
      margin: 0 auto;
      padding: 0;
      color: darken($color-main-text, 10%);
      font-family: $font-main;
      font-weight: 400;
      font-size: 18px;

      @include wide {    
        font-size: 26px;        
        line-height: 46px;
      }
    } 
  }
}