// Carousel in Hero section

.carousel {
  .slide img {
    height: 30vw;
    min-height: 227px;
    min-width: 375px;
    object-fit: cover;

    @include wide {
      height: 25vw;
      max-height: 638px;
    }    

    @include desktop {
      // height: 500px;
    }

  } 

  .control-dots {
    .dot {
      @include wide {
        width: 20px;
        height: 20px;
      }

      @include desktop {
        width: 14px;
        height: 14px;
      }
    }
  }
}