// Sign in form section
.profile {
  padding-bottom: 4em;
  
  header {
    margin-top: 1.5em;
    
    p {
      font-size: 1.5em;
    }

    // .logOut {
    //   background: red;
    //   color: white;
    // }
  }

  
  
}
