// Sign in form section
.signInForm {
  padding-bottom: 4em;
  
  header {
    margin-top: 1.5em;
    
    h1 {
      font-size: 1.8em;
    }
  }
  
  form {
    .passwordInputDiv {
      // margin: 0;
      display: flex;      
      position: relative;

      .showPassword {
          position: absolute;
          top: 75%;
          right: .5em;
          transform: translateY(-65%);
        }
    }

    .forgotPasswordLink,
    .forgotPasswordLink:visited {
      display: flex;
      align-self: flex-end;
      color: $color-first;   
      font-size: .8em;    
      padding-top: .2em;     
      text-decoration: none;
      
      .rightArrow:hover {
          fill: $color-main-text;
        }
    }

    .forgotPasswordLink:hover {
      color: $color-main-text;
    }    

    .signInButton {
      display: flex;
      justify-content: center;
    }
  }  
  
  .signUpLink,
  .signInLink {
    display: flex;
    color: $color-first;    
    
    .rightArrow:hover {
      fill: $color-main-text;
    }
  }

  .signUpLink:hover,
  .signInLink:hover {
    color: $color-main-text;
  }
}
