// Sign up form section
.signUpForm,
.signInForm {
  background-color: $color-main;
  color: $color-main-text;  
  width: 60%;
  margin: 2em auto 4em;
  display: flex;
  flex-direction: column;
  align-items: center;  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70vw;
    margin: 2em auto;

    @include media(tablet, desktop, wide) {
      margin: 4em auto;
    }
    
    h1 {
      margin: 0 1em;
      font-size: 1.2em;
      text-align: center;

      @include media(desktop, wide) {
        padding: 1em 0;
        font-size: 1.6em;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 30vw;
      max-width: 50vw;
      margin: 1.5em auto;      
      align-items: flex-start;

      label {
        display: flex;

        .labelText {
          font-weight: 500;
        }
        
        .required {
          color: red;
          font-weight: 700;
        }
      }     

      .submitForm {
        margin: 0 auto;
        border: none;
        height: 3em;
        line-height: 2em;
        width: 100%;
        padding-left: .5em;

        &:focus {
          outline: 2px solid $color-first;
        }
      }

      .errorMsg {
        color: $color-first;
        font-size: .8em;
        font-weight: 600;
        margin-top: .3em;
      }
    }    

    button {
      display: flex;
      align-items: center;
      justify-content: center;    
      width: 100%;
      max-width: 140px;
      height: 48px;
      margin: 2em auto;
      background-color: $color-main-text;
      color: $color-white;
      cursor: pointer;
      font-family: $font-main;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      border: none;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: darken($color-main-text, 10%);
      }

      &:disabled {
        opacity: .3;
      }
      
      @include media(desktop, wide) {
        font-size: 14px;
        height: 54px;
      }
    }
  }
}
